<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-700">
  <div class="flex justify-center mt-10">
    <form action="/submit-siswa" class="bg-sky-300 p-20 text-gray-200 rounded-lg" method="post">
      <table>
        <tr>
          <td><label for="nama">Nama</label></td>
          <td><input type="text" name="nama" id="nama" required class="text-black"></td>
        </tr>
        <tr>
          <td><label for="nama">Jurusan</label></td>
          <td><input type="text" name="jurusan" id="nama" required class="text-black"></td>
        </tr>
        <tr>
          <td><label for="kelas">Kelas</label></td>
          <td><input type="text" name="kelas" id="kelas" required class="text-black"></td>
        </tr>
        <tr>
          <td><input type="submit" value="kirim" class="p-2 bg-red-300"
                </td>
        </tr>
        
        
      </table>
    </form>
  </div>

</body>
</html>